<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<title>timingsrc{% if page.title }%} - {{page.title}}{% endif %}</title>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/normalize.css" media="screen">

<link href='{{site.baseurl}}/stylesheets/googlefontfamily.css' rel='stylesheet' type='text/css'>
<!--
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
-->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/github-light.css" media="screen">
<link href="{{site.baseurl}}/stylesheets/syntax.css" rel="stylesheet" type='text/css'>


{% if page.demojs %}
<script text="javascript" src="http://webtiming.github.io/timingsrc/lib/timingsrc.js"></script>
<script text="javascript" src="js/{{page.demojs}}.js"></script>
{% endif %}

