
<h1 class="project-name">timingsrc</h1>
<h2 class="project-tagline">A programming model for timed Web applications, based on the Timing Object. </br>Precise timing, synchronization and control enabled for single-device and multi-device Web applications.</h2>
<!--
<a href="https://github.com/webtiming/timingsrc" class="btn">View on GitHub</a>
<a href="https://github.com/webtiming/timingsrc/zipball/master" class="btn">Download .zip</a>
<a href="https://github.com/webtiming/timingsrc/tarball/master" class="btn">Download .tar.gz</a>
-->


 